
#welcome-section {
	background-image: url(https://thumbs.dreamstime.com/b/fondo-rosado-polivin%C3%ADlico-bajo-del-vector-de-la-tecnolog%C3%ADa-extracto-conexi%C3%B3n-133328331.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
  height: 250px;
	text-align: center;
	display: flex;
	align-items: center;
}
#welcome-section h1 {
	font-size: 25px;
	font-weight: normal;
	margin: 10px;
}
#welcome-section .container-welcome img {
	width: 10vh;
	border-radius: 100px;
}
#welcome-section .container-welcome {
	backdrop-filter: blur(20px);
	border-radius: 50px;
	width: 55vh;
	height: 20vh;
  color:  #818ea1;
}

@media (max-width: 767px) {

	#welcome-section h1 {
		font-size: 20px;
	}

}