*{
	box-sizing: border-box;
	max-width: 2500px;
	margin-left: auto;
	margin-right: auto;
	font-family: Dosis;
	
}
html {
	scroll-behavior: smooth;	
}

body {
	background-color: #f2eff3
}
hr {
	width: 70px;
	margin: 10px 30px;

}

.footer {
	bottom: 0;
	background-color: #818ea1;
	height: 60px;
	width: 100%;
	font-size: 20px;
	color: #ece6ed;
	text-align: center;
	padding-top: 5px;
	margin-top: 25px;;
}
a {
	text-decoration: none;
	color: #3f3d4f;
}
iframe {
	margin-bottom: 10px;
}
.titulos {
	width: 30vh;
   	font-size: 35px;
	color: black;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}
.titulos h4 {
	margin-bottom: 0;
}
.icontitle {
	display: flex;
	padding: 10px;	
}

.icontitle img{
	margin: 0 auto;
	
}

.border {
	border-radius: 15px;
}
.icons {
	display: flex;
	margin: 30px auto;
}
.icons img:hover {
	background-color: #fde5ea; 
}
.btnRosa {
	font-size: 15px;
	background-color: #fde5ea; 
	border: 2px solid #818ea1;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: #3f3d4f;
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;

} 
.btnRosa:hover {
	font-size: 17px;
	color: black;
}

.subrayado{
	text-decoration: underline;
}












